.carousel2-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.spa-text {
    width: 40%; /* Ajustez la largeur selon vos besoins */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: justify;
}

.spa-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
    
}

.spa-text p {
    font-size: 16px;
    line-height: 1.5;
}

.carousel-container2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#carousel2 {
    position: relative;
    width: 717px;
    height: 600px;
    overflow: hidden;
}

#carousel2 .carousel-images2 {
    width: 1434px; /* width = number of images * 400px (image width) */
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel2 .carousel-images2 img {
    width: 717px; /* image width */
    height: 600px; /* image height */
    object-fit: cover;
}

#carousel2 .prev, #carousel2 .next {
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

#carousel2 .prev {
    left: 20px;
}

#carousel2 .next {
    left: 50px;
}

#carousel2 .prev:hover, #carousel2 .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.spa-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 850px;
}