* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 70px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000000;
    border-radius: 3px;
}

.telephone {
    width: 100%;
    height: 10px;
    background-color: #000000;
    color: white;
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: x-small;
    text-align: center;
}

.reserve-button {
    padding: 10px 35px;
    background-color: #d83924;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


@media (max-width: 600px) {
    .navbar {
        align-items: center;
        padding: 5px 10px;
    }

    .logo img {
        height: 50px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .telephone {
        height: 20px;
        font-size: x-small;
        margin-bottom: 1px;
        margin-top: 8px;
    }

    .reserve-button {
        padding: 8px 20px;
        font-size: 14px;
    }
}
