* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 70px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000000;
    border-radius: 3px;
}

.telephone {
    width: 100%;
    height: 10px;
    background-color: #000000;
    color: white;
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: x-small;
    text-align: center;
}

.reserve-button {
    padding: 10px 20px;
    background-color: #d83924;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

main {
    position: relative;
    text-align: center;
}

.hero-container {
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(233, 12, 12);
    font-size: xx-large;
    text-align: center;
    width: 100%;
    z-index: 10;
}


.hotel {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    z-index: 10;
}

.carousel1 {
    position: relative;
    max-width: 100%;
    height: 640px;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.title-container{
    display: flex;
    justify-content: center;
}


h2 {
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(3, 3, 3);
    text-align: center;
    font-size: xx-large;
    display: inline-block;
    border-bottom: 3px solid red;
}

.history-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 220px;
}

.bloc1-histoire, .bloc2-histoire{
    text-align: justify;
    width: 48%;
}

.bloc1-histoire{
    text-align: left;
}

.bloc2-histoire{
    text-align: right;
}


/* section carousel 2 */



.carousel2-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.spa-text {
    width: 40%; /* Ajustez la largeur selon vos besoins */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: justify;
}

.spa-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
    
}

.spa-text p {
    font-size: 16px;
    line-height: 1.5;
}

.carousel-container2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#carousel2 {
    position: relative;
    width: 717px;
    height: 600px;
    overflow: hidden;
}

#carousel2 .carousel-images2 {
    width: 1434px; /* width = number of images * 400px (image width) */
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel2 .carousel-images2 img {
    width: 717px; /* image width */
    height: 600px; /* image height */
    object-fit: cover;
}

#carousel2 .prev, #carousel2 .next {
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

#carousel2 .prev {
    left: 20px;
}

#carousel2 .next {
    left: 50px;
}

#carousel2 .prev:hover, #carousel2 .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.spa-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 850px;
}




/* section 3 carousel */

.carousel3-section{
    padding: 20px;
}

.carousel3-size{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.carousel3-container{
    position: relative;
    width: 100%;
    height: 560px;
    overflow: hidden;
}

.carousel3-images{
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.carousel3-images img {
    width: 1440px;
    height: 560px;
    object-fit: cover;
}


.carousel3-text{
    position: absolute;
    bottom: 45px;
    left: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    width: 412px;
    height: 451px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel3-text h2 {
    margin: 10px;
    font-size: 25px;
}

.carousel3-text p {
    font-size: 13px;
    margin: 10px 0;
}

.chambre-button{
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    color: red;
    border: 2px solid red;
    font-size: 16px;
    border-radius: 3px;
}

.reserve2-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #d83924;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.carousel-pagination {
    text-align: center;
    margin-top: 10px;
}

.pagination-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-dot.active {
    background-color: #717171;
}




/* parallax section */


.parallax-section{
    position: relative;
    height: 500px;
    overflow: hidden;
}

.parallax-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/hotel-de-bourgtheroulde-restaurant-025.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    color:black;
    border: 2px solid red;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.parallax-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid red;
    font-size: 15px;
}

.parallax-content h2 {
    font-size: 28px;
    margin-bottom: 15px;
}