body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titre-form {
    position: relative;
    margin: 40px 0;
    text-align: center;
    color: black;
}

.reservation-form {
    display: flex;
    justify-content: center;
    
    align-items: center;
    gap: 10px;
    margin-bottom: -22px;
    margin-left: -750px;
}

.form-group-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group select, .form-group input[type="date"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.result-button {
    position: absolute;
    align-self: center;
    top:39%;
    left:34%;
    padding: 10px 20px;
    background-color: rgb(217, 217, 217);
    color: black;
    border: none;
    cursor: pointer;
}

.result-button:hover {
    background-color: rgb(231, 231, 231);
}

.footer-container {
    margin-top: auto;
    background-color: #f1f1f1;
    text-align: center;
}

.icon img {
    margin: 0 5px;
}

.text-tel {
    padding-top: 15px;
}


.telephone-section {
    width: 100%;
    text-align: left;
    padding: 20px;
    padding-bottom: 130px;
}

.image-rouens {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top:27%;
    right:2%;
    width: 600px;
    height: 500px;
    border-radius: 4px;
}